<div class="text-sm text-gray-600">
  <strong><%= attribute_model(entity, :xNome) %>:</strong>
  <span class="text-black"><%= entity.xNome %></span>
</div>
<div class="text-sm text-gray-600">
  <strong><%= attribute_model(entity, :xFant) %>:</strong>
  <span class="text-black"><%= entity.xFant %></span>
</div>
<div class="text-sm text-gray-600">
  <strong><%= attribute_model(entity, :cNPJ) %>:</strong>
  <span class="text-black"><%= entity.cNPJ %></span>
</div>
<div class="text-sm text-gray-600">
  <strong><%= attribute_model(entity, :iE) %>:</strong>
  <span class="text-black"><%= entity.iE %></span>
</div>
<div class="text-sm text-gray-600">
  <strong><%= attribute_model(entity, :cRT) %>:</strong>
  <span class="text-black"><%= entity.crt_label %></span>
</div>
