<div id="<%= dom_id invoice %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= invoice.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Processed at:</strong>
    <%= invoice.processed_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">C uf:</strong>
    <%= invoice.cUF %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">C nf:</strong>
    <%= invoice.cNF %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mod:</strong>
    <%= invoice.mod %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Serie:</strong>
    <%= invoice.serie %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">N nf:</strong>
    <%= invoice.nNF %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Dh emi:</strong>
    <%= invoice.dhEmi %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tp nf:</strong>
    <%= invoice.tpNF %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Emit:</strong>
    <%= invoice.emit_id %>
  </p>

</div>
