<!DOCTYPE html>
<html>
  <head>
    <title>NfeHandlerMaino</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="antialiased bg-gradient-to-r from-gray-700 via-gray-900 to-gray-800">
    <%= render "shared/nav" %>

    <main class="antialiased">
      <div class="p-3">
        <%= render "shared/flash" %>
      </div>

      <section class="container mx-auto mt-12 px-5 flex">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
